@import "variables";
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font: $fuente;
    background-color: $color;
    background-image: $fondo;
    width: 90%;
    margin:auto;
    ul { 
        list-style: none;
        a {
            color: black;
            text-decoration: none;}}
    .home_contacto { /* seccion principal */ 
        display: flex;
        flex-direction: row;
        padding: 1.25em;
        justify-content: center;
        align-items: center;
        #perfil { 
            width: 25em;
            height: 25em;
            margin: 1.25em;
            border: solid black 1px;
            &:hover { 
                animation: shake 0.5s;
                animation-iteration-count: infinite;}
            }
        #formu { /* formulario */ 
            width: 20em;
            height: 20em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0.625em;
            margin: 1.25em;
            background-color: $color;
            background-image: $fondopunto;
            #name_formu { 
                background-color: whitesmoke;
                text-align: center;}
            .aviso_name { 
                font-size: 0.88em;}
            #aviso { 
                margin: 0.3125em;}
        }
        .dato {  /* iconos de gmail lkdn y github*/ 
            margin: 1.25em;
            padding: 0.9375em;
            border-radius: 3.125em;
            background-color: $color;
            background-image: $fondopunto;
            &:hover{
                background-color: rgba(122, 122, 122, 0.527);
                border-bottom: 2px solid black;}
        }
    }
    .menu1 { /* menu de navegacion */ 
        position: sticky;
        top: 0px;
        display:flex;
        justify-content: space-between;
        flex-direction: row;
        background-color: #f7f4f2;
        margin: 0px 0px; 
        width: 100%;
        height: 1.875em;
        border: outset black 1px;
        #menu_icono {
            max-width: fit-content;
            max-height: fit-content;
            padding: 2px 2px;}
        #menu_nombre { 
            display: flex;
            align-items: center;
            font-size: 1.13em;} 
        .menu_pestanas {
            padding-left: 3px;
            padding-right: 3px;
            .pestana{
                display: inline-block;
                font-size: 1.25em;
                padding: 0px 3px 3px 3px}}
        ul li a{
            &:hover {border-bottom: 2px solid black;}}
    }


    .pie { /* pie de pagina */ 
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: auto;
        height: 6.25em;
        margin: 0.625em 0px;
        padding: 0.625em;
        border: solid black 2px;
        background-color: $color;
        background-image: $fondopunto;
        #miNombre { 
        padding-right: 20em;}
    }

    .encabezado { /* logo del encabezado */ 
        width: 100%;
        height: 12.5em;
        margin-bottom: 0%;
        background:url('../images/cabecera.jpg') center/cover;
        display: flex;
    } 
}




/* VOY A PEGAR EL GRID PERO LA IDEA ES HACERLO EN OTRO SCSS */ 


.encabezado { 
    grid-area: encabezado;
}

.menu1 {
    grid-area: menu1;
}

.pie { 
    grid-area: pie;
}

.seccionSecundaria {
    grid-area: seccionSecundaria;
}

.home {
    grid-area: home;
}

.parrafo {
    grid-area: parrafo;
}
#reco_titulo {
    grid-area: reco_titulo;
}



/* ESTILOS MOBILE */ 

@media screen and (min-width: 320px) {
    .main {
        font-size: 14px;
    }
    .main {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns:  1fr; 
        grid-template-rows: 0.2fr 0.01fr 0.2fr 0.1fr 0.1fr 1fr 0.10fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "encabezado"
          "menu1"
          "parrafo"
          "reco_titulo"
          "home"
          "home"
          "seccionSecundaria"
          "pie"; 
    }
    .home,
    .home1, 
    .home2 { 
        font-size: 8px;
    }

    .menu1 { font-size: 1em;}
 
    .main_texto { 
        overflow: auto;
    }

    .pie { 
        font-size: 8px;
    }

}

@media screen and (min-width: 1200px) {
    .main {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-template-rows: 0.5fr 0.09fr 0.9fr 0.1fr 1fr 1fr 0.10fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "encabezado encabezado encabezado encabezado"
          "menu1 menu1 menu1 menu1"
          "parrafo parrafo parrafo parrafo"
          "reco_titulo reco_titulo reco_titulo reco_titulo"
          "home home home seccionSecundaria"
          "home home home seccionSecundaria"
          "pie pie pie pie"; 
    }
    .home2 { 
        font-size: 20px;
    }

    .pie { 
        font-size: 1.25em;
    }

}